#bx_incl_area_4, #bx_incl_area_5 {
    display: inline-block;
}
#panel *, #panel *:before, #panel *:after {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
.popup-window *, .popup-window *:before, .popup-window *:after {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
#panel input[type="button"],
.bx-core-window input[type="button"],
.bxml-dialog input[type="button"]
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#panel a {
    transition-duration: 0s;
}

.bx-core-window .bxhtmled-split-btn-l {
    vertical-align: top !important;
}

.bxml-dialog p, .bxml-dialog ul, .bxml-dialog ol, .bxml-dialog pre, .bxml-dialog table, .bxml-dialog blockquote,
.bxml-subdialog-cont p, .bxml-subdialog-cont ul, .bxml-subdialog-cont ol, .bxml-subdialog-cont pre, .bxml-subdialog-cont table, .bxml-subdialog-cont blockquote,
.editor_dialog p, .editor_dialog ul, .editor_dialog ol, .editor_dialog pre, .editor_dialog table, .editor_dialog blockquote
{
    margin-bottom: 0;
}