.idea/
bitrix/html_pages/
bitrix/php_interface/dbconn.php
bitrix/modules/updater_partner.log
bitrix/modules/serverfilelog*
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/wizards/
### Архивы ###
*.sql
*.log
*.zip
*.gzip
*.gz
*.gz.[0-9]
*.tgz
*.tar
*.rar
*.jar
*.7z
*.mp3
*.exe
*.db
*.csv
*.xml
*.psd
*.[oa]
*~
### Другое ###
/upload/
/uploads/
/cache/
/backup/
/backups/
/backup-db/
/log/
/logs/
*/upload/
*/uploads/
*/cache/
*/backup/
*/backups/
*/backup-db/
*/log/
*/logs/
/.htaccess
/license.txt
/readme.html
/sitemap*.xml
/sitemap*.xml.gz