#bx_incl_area_2, #bx_incl_area_3 {
    display: inline-block;
}

.smt-menu-main {
    z-index: 999;
}

.smt-top-bar__label p {
    margin: 0;
    padding: 0;
}

.smt-list_footer {
    font-size: 14px;
}

@media (max-width: 767px) {
    .smt-list_footer li:before {
        display: none;
    }
}

.smt-project-item_1x1 .smt-image-box-inline {
    padding-top: 100%;
}

.smt-project-item_1x2 .smt-image-box-inline {
    padding-top: 50%;
}

.smt-project-item_3x4 .smt-image-box-inline {
    padding-top: 75%;
}

.smt-project-item_10x16 .smt-image-box-inline {
    padding-top: 62.5%;
}

.smt-project-item_16x10 .smt-image-box-inline {
    padding-top: 160%;
}

.smt-project-item__property .list-unstyled {
    margin-bottom: 0;
}

.smt-menu-left_show-all ul {
    display: block;
}

.smt-menu-left_show-current > li.current ul {
    display: block;
}

.smt-widget_section-list .smt-header {
    margin-bottom: 12px;
}

.smt-widget_section-list .smt-list {
    margin-bottom: 0;
}

.smt-widget_section-list {
    margin-bottom: 24px;
}

#bx_filter_catalog.collapse.in {
    display: block !important;
    margin-top: 12px;
}

.bx-filter .bx-filter-popup-result.right, .bx-filter .bx-filter-popup-result.left {
    -webkit-border-image: none;
    -moz-border-image: none;
    -o-border-image: none;
    border-image: none;
    background-color: #FFCD4B;
    border: none;
    padding: 6px 15px;
}

.bx-filter .bx-filter-popup-result a {
    color: #fff;
    text-decoration: underline;
}

.bx-filter .bx-filter-popup-result.right:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    margin-left: -20px;
    margin-top: -10px;
    border: solid 10px transparent;
    border-right-color: #FFCD4B;
}

.bx-filter .bx-filter-popup-result.left:before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    margin-right: -20px;
    margin-top: -10px;
    border: solid 10px transparent;
    border-left-color: #FFCD4B;
}

.smt-slider__item {
    background-color: #efefef;
}

.smt-image .smt-img-thumbnail {
    margin-bottom: 0;
}

.smt-call-action-button__icon {
    overflow: hidden;
}

.smt-blog-list .smt-blog-item_border-bottom:last-child {
    border-bottom: none;
}

.search-page .smt-form_search .form-inline .form-control {
    width: 100%;
}

.smt-tab-content_padding {
    padding-top: 24px;
    padding-bottom: 0;
}

.smt-team-properties {
    font-size: 14px;
}

.smt-form-agreement {
    font-size: 13px;
}