.owl-theme_smt {
  position: relative;
}

.owl-theme_smt .owl-item img {
  display: inline;
  width: auto;
}

.owl-theme_smt .owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme_smt .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  background: #FFCD4B;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}

.owl-theme_smt .owl-nav [class*='owl-']:hover {
  background: #FFCD4B;
  color: #000;
  text-decoration: none;
  opacity: 1;
}

.owl-theme_smt .owl-nav .disabled {
  opacity: 0.8;
  cursor: default;
}

.owl-theme_smt .owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: -9px;
}

.owl-theme_smt .owl-prev:before {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 0;
  bottom: -8px;
  border-bottom: 4px solid transparent;
  border-left: 5px solid transparent;
  border-top: 4px solid #a3a3a3;
  border-right: 5px solid #a3a3a3;
}

.owl-theme_smt .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: -9px;
}

.owl-theme_smt .owl-next:before {
  position: absolute;
  content: "";
  right: 0;
  width: 0;
  height: 0;
  bottom: -8px;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #a3a3a3;
  border-top: 4px solid #a3a3a3;
  border-right: 5px solid transparent;
}

.owl-theme_smt .owl-dots {
  margin-top: 12px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme_smt .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme_smt .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #efefef;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme_smt .owl-dots .owl-dot.active span, .owl-theme_smt .owl-dots .owl-dot:hover span {
  background: #FFCD4B;
}

.owl-theme_smt-dots .owl-prev, .owl-theme_smt-dots .owl-next {
  margin-top: -28px;
}

.owl-theme_smt-outside {
  position: relative;
}

.owl-theme_smt-outside .owl-item img {
  display: inline;
  width: auto;
}

.owl-theme_smt-outside .owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme_smt-outside .owl-nav [class*='owl-'] {
  color: #FFCD4B;
  font-size: 39px;
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}

.owl-theme_smt-outside .owl-nav [class*='owl-']:hover {
  background: #FFCD4B;
  color: #000;
  text-decoration: none;
  opacity: 1;
}

.owl-theme_smt-outside .owl-nav .disabled {
  opacity: 0.8;
  cursor: default;
}

.owl-theme_smt-outside .owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -37px;
  left: -50px;
}

.owl-theme_smt-outside .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -37px;
  right: -50px;
}

@media (max-width: 991px) {
  .owl-theme_smt-outside .owl-prev {
    left: 0;
  }
  .owl-theme_smt-outside .owl-next {
    right: 0;
  }
}

.owl-theme_smt-outside .owl-dots {
  margin-top: 12px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme_smt-outside .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme_smt-outside .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #efefef;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme_smt-outside .owl-dots .owl-dot.active span, .owl-theme_smt-outside .owl-dots .owl-dot:hover span {
  background: #FFCD4B;
}

.smt-owl-carousel-align-img-js .owl-prev, .smt-owl-carousel-align-img-js .owl-next {
  margin-top: -70px;
}

.owl-carousel-centered .owl-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.owl-carousel-centered .owl-item > div, .owl-centered .owl-item > a {
  text-align: center;
}
